<div class="d-flex align-items-center flex-column mt-5">
    <i class="fa-regular fa-face-fromn" style="font-size: 88px"></i>
    <h1>Ой, халепа</h1>
    Сторінка, яку Ви намагаєтеся відвідати, не існує.
</div> 


