@model _2.Models.Category

@{
    ViewData["Title"] = "Додати нову категорію";
}

<h2>Додати нову категорію</h2>

<form asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Додати категорію</button>
    <<a asp-action="ManageCategories" class="btn btn-secondary">Повернутися назад</a>
</form>


